/*
Author:gabby boothe
Date: 5-10-24
File Name: entend
*/

/* CSS Reset */
body, header, main, footer, h1, h3, section, article {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body */
body {
	background-color: #dfe7c4;
}

/* Style rule for header */
header {
	font-family: Verdana, Arial, sans-serif;
	margin-top: 0.2em;
	background-color: #628c45;
	color: #dfe7c4;
	padding: 2%;
    text-align: center;
}
nav {
    background-color: #666;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Style rules for main content  */
main {
	background-color: #fff;
}
section {
    flex: 1;
    padding: 20px;
    background-color: #9d4502; 
	margin: 1% 0;
}
aside {
    padding: 2%;
	text-shadow: 4px 4px 8px #fc7307; 
	box-shadow: 4px 4px 10px #183440; 
	
}

footer {
	font-size: .70em;
	text-align: center;
}
/* Tablet media query */
@media screen and (min-width: 768px) {
    .grid {
        display: grid; 
        grid-template-columns: repeat(3, 1fr); 
        grid-gap: 20px; 
    }
	/* Style rule for the aside element */
    aside {
        grid-column: span 3; /* Spanning three columns */
    }
}